.title {
    text-align: center;
}
  
.filters {
    width: 100%;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10;
    padding-left: 30;
    padding-right: 30;
}
  
.tableWrapper {
    align-items: center;
    max-width: 85%;
    padding-bottom: 90px;
}
  