.tableContainer {
    width: 100%;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid var(--color-gray-light);
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: var(--color-green-light); 
    color: var(--color-text-light);
    font-weight: bold;
    text-align: center;
  }
  
  .table td {
    text-align: left;
    background-color: var(--color-background);
  }

  .table td.buttonCell {
    text-align: center;
  }
  
  .button {
    background-color: var(--color-gray-light);
    color: var(--color-text-light);
    border: none;
    padding: 5px 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: var(--color-gray-dark);
  }
  