.card {
  background-color: var(--color-gray-light);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  box-sizing: border-box; 
  cursor: pointer;
}

.small {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;
  max-width: 320px; 
  margin: 0 auto;
}

.small .image {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
}

.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 150px; 
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.square .image {
  width: 60%; 
  height: auto;
  object-fit: cover;
  margin-bottom: 8px;
}

.large {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  aspect-ratio: 16 / 10; 
  margin: 0 auto;
  padding: 10px 15px;
  box-sizing: border-box;
}

.large .image {
  width: 40%; 
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.text {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  color: var(--color-text-dark);
  text-align: center;
  user-select: none;
}

.small .text {
  margin-left: 20px;
  text-align: left;
}

@media (min-width: 1024px) {
  .small {
    max-width: 320px; 
  }
  .square {
    max-width: 150px;
  }
  .large {
    max-width: 320px;
  }
}
