:root {
    --item-height: 60px;
  }

.productPicker {
    position: relative;
    width: 300px;
}

.selectedProduct {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}

.productImage {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.label {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 8px;
    font-size: 0.9rem;
}

.arrow {
    width: 20px;
    height: 20px;
    background-color: #5c7457;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.dropdown {
    position: absolute;
    top: calc(100% + 4px);
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-height: calc(var(--item-height) * 3);
    overflow-y: auto;
    z-index: 10;
}

.productItem {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.productItem:last-child {
    border-bottom: none;
}

.productItem:hover {
    background-color: #f0f0f0;
}

.productInfo {
    display: flex;
    flex-direction: column;
}
